/* Selectores */

/* Selector de etiqueta*/

h1,
h2,
h3 {
    color: brown;
}

/* Selector de clase */

.interesting {
    color: chartreuse;
    background-color: black;
}

/* [class='sports']  */
.sports {
    font-size: 1.2rem;
}

/* Selectores de atributo*/

[title] {
    color: chocolate;
}

[title='P치rrafo muy interesante'] {
    background-color: rgb(197, 222, 223);
}

/* Empiece por */
[title^='P치rrafo'] {
    /* Propiedades */
}

/* Contenga */
[title*='P치rrafo'] {
    /* Propiedades */
}

/* Termine */
[title$='P치rrafo'] {
    /* Propiedades */
}

/* Selector de Id */

#p1 {
    color: blueviolet;
}

/* Alternativa con atributos

[id='p1'] {
    color: blueviolet;
} */

/* Selectores Combinados */

/* 
Descendiente: espacio
Hijo >
Hermano ~ 
Hermano siguiente o adyacente + */

article p {
    text-decoration: underline;
}

article > p {
    font-weight: bold;
}

article ~ p {
    color: crimson;
}

article + p {
    background-color: bisque;
}

aside {
    background-color: darkkhaki;

    & > p {
        color: darkblue;
        font-weight: bold;
    }
}

/* Pseudo-elementos [::]
Pseudo-clases [:]*/

p::first-letter {
    font-size: 2rem;
}

p::first-line {
    text-decoration: underline;
}

button:hover {
    font-size: 1.4rem;
}

:nth-child(3n) section:nth-of-type(2) a:not(:last-of-type) {
}

section .sports {
}

section:has(.sports) {
}

:is(section, article) :is(h1, h2, h3) {
}

section,
article {
    color: bisque;
}

:where(section, article) p {
}
