dl {
    div {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--brown);
        }

        dt {
            grid-column: 1/2;
        }

        dd {
            grid-column: 2/3;

            &:nth-of-type(1) {
                grid-row: 1/2;
            }
        }
        button {
            grid-column: 3/4;
            grid-row: 1/2;
            padding: 0;
            color: inherit;
            background-color: inherit;
            border: none;
        }
    }
}
