section {
    margin: 0;
}

section.ttt {
    .select-players {
        margin-block-end: var(--space);
    }

    dl {
        margin-block: var(--space);
        min-width: 300px;
        width: 50%;
        margin-block-end: var(--space-double);
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 1px solid var(--brown);

            dt {
                grid-column: 1/2;
            }

            dd {
                grid-column: 2/3;

                &:nth-of-type(1) {
                    grid-row: 1/2;
                }
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--space);
    }

    .info {
        border: 1px solid var(--brown);
    }

    .board {
        width: 200px;
        height: 200px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        & div {
            background-color: var(--bronze);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .current-player {
        color: var(--color-accent-background);
        transform: scale(110%);
    }
}
